body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
div {
  font-size: 12px;
}
html,
body {
  height: 100%;
}
#map {
  height: 100%;
}
#location {
  position: absolute;
  overflow: visible;
  top: 30px;
  right: 30px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.61);
  padding: 20px;
  border-radius: 15px;
  min-width: 270px;
}
#yourlocation {
  font-size: 8px;
}
.ui-dialog .ui-state-error {
  padding: .3em;
}
.map-icon-label .map-icon {
  font-size: 24px;
  color: #FFFFFF;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
}
